<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <META HTTP-EQUIV='Refresh' CONTENT='10; URL=room.html'>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Game room</title>
    <script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
</head>
<body>

<div style="display:inline-block">

    <div style="border: solid 2px black; margin: 2px; padding: 2px">
        <b>Session:</b> <span th:text="${#request.getSession()}"></span>
        <p><b>Game ID:</b> <span id="gameId" th:text="${game.gameId}"></span></p>
    </div>
    <div style="border: solid 2px black; margin: 2px; padding: 2px">
        <b>Username:</b> <span id="username" th:text="${#request.getUserPrincipal().getName()}"></span>
    </div>
    <div style="border: solid 2px black; margin: 2px; padding: 2px">
        <table>
            <thead>
            <th><b>Players:</b></th>
            </thead>
            <tbody>
            <tr th:each="player : ${game.players}">
                <td th:text="${player.username}"></td>
            </tbody>
        </table>
    </div>
    <div style="border: solid 2px black; margin: 2px; padding: 2px">

    </div>

    <div style="border: solid 1px black; margin: 2px; padding: 2px">
        WORD:
        <span id="wordBox" >

        </span>
        <script th:inline="javascript">
            /*<![CDATA[*/

            let wordBox = document.getElementById('wordBox');
            let username = document.getElementById('username').innerText;
            let game = /*[[${game}]]*/ 'default';
            // console.log(game);
            // console.log(username);
            if (game.spiesNames.includes(username)) {
                wordBox.innerText = 'YOU ARE SPY';
            } else {
                wordBox.innerText = game.word;
            }

            /*]]>*/
        </script>

    </div>

</div>

<div id="chat" style="display: inline-block; ">
    <div id="messageBoxScroll" style="overflow:scroll; height:400px; border: 1px solid black">
        <table>
            <thead>
            <th><b>Username</b></th>
            <th><b>Message</b></th>
            </thead>
            <tbody id="messagesBox">

            </tbody>
        </table>
    </div>
    <div>
        <form action="#">
            <input type="text" id="messageText">
            <button id="sendMessage" type="submit">Send</button>
        </form>
    </div>
</div>

<!--<script src="../room.js" type="application/javascript"></script>-->
<script src="../websocketGame.js" type="application/javascript"></script>

</body>
</html>