<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rooms list</title>
</head>
<body>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <th>Creator name</th>
    <th>Room Link</th>
    <th>Players </th>
    <th>Places </th>
    </thead>

    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.value.getPlayers().get(0).getNickname()}"></td>
        <td><a th:href="@{'/rooms/' + ${room.key}}"><span th:text="${room.key}"></span></a></td>
        <td th:text="${room.value.getPlayers().size()}"></td>
        <td th:text="${room.value.getMaxPlayersAmount()}"></td>
    </tr>
    </tbody>

<!--    <a href=""-->


</table>

</body>
</html>